# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/Runner/Base.lproj/MainMenu.xib
**/ios/Runner/Assets.xcassets/AppIcon.appiconset/
**/ios/Runner/App.framework
**/ios/Runner/Flutter.framework
**/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
**/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
**/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
**/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
**/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
**/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
**/pubspec.lock
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
